
.catalog-items-title {
    padding: 8px;
    background-color: #f7f7f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 3px 0px 3px rgb(0 0 0 / 0.2);
}
.catalog-items-title i {
    margin:0px 5px;
}
.catalog-item {
    width: 250px;
    border: 1px solid #f7f7f7;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 3px 0px 3px rgb(0 0 0 / 0.2);
    margin-right: 20px;
    margin-top:15px;
    
    
}
.catalog-wrapper {
    margin:30px auto;
    width: 900px;
    align-content: center;
    justify-content: center;
}
.catalog-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}
div.catalog-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.catalog-item-img {
    width: 250px;
    height: 240px;
}

.catalog-item-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    
}
.catalog-item-desc {
    margin-top:10px;
    text-align: center;
}
.catalog-item-view {
    margin-left:80px;
    margin-top: 10px;
    margin-bottom:10px;
    padding: 7px 10px;
    border-radius: 8px;
    border:1px solid #d8b487;;
    color: #c8a275;
    text-decoration: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    margin-bottom: 2rem;
    padding: 0 5rem;
  }
  
  .pagination a {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #c8a275;;
    color: #c8a275;;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  .pagination__link:hover, a.page-link:hover {
    background-color:  #c5c1c1;
  }
  .pagination__link--active a {
    color: #fff;
    background: #c8a275;;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }